<form class="" action="/landmarks/<%= @landmark.id %>" method="post">
  <label for="landmark[name]">Edit Landmark: </label>
  <input id="name" type="text" name="landmark[name]" value="<%= @landmark.name %>">
  <input id="year_completed" type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed.to_s %>">
  <input type="submit" value="Edit Landmark">
</form>
