<form class="" action="/landmarks" method="post">
  <label for="landmark[name]">landmark Name: </label>
  <input id="landmark_name" type="text" name="landmark[name]">
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]">
  <input type="submit" value="Create New Landmark">
</form>
